name: Spelling Check

on: 
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  
jobs:
  codespell:
    name: SpellCheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Codespell
        uses: codespell-project/actions-codespell@v2.1
        with:
          args: "*.kod"  # Check only .kod files
