name: Build and Code Check

on: 
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  
jobs:
  codespell:
    name: SpellCheck
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4  # Checkout the repository files

      - name: List .kod files (Debugging step)
        run: find . -type f -name "*.kod"  # Debugging step to confirm the files are there

      - name: Codespell
        uses: codespell-project/actions-codespell@v2.1
        with:
          args: "*.kod"  # Check only .kod files
          only_warn: 1
